apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: youtubedl-material
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/nicholastn1/YoutubeDL-Material.git"
    targetRevision: HEAD
    path: k8s/ytdl-material
  destination:
    server: "https://kubernetes.default.svc"
    namespace: media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
